<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.wloskieconieco" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hfad.wloskieconieco.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hfad.wloskieconieco.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName="com.hfad.wloskieconieco.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hfad.wloskieconieco.MainActivity" />
        </activity>
        <activity
            android:name="com.hfad.wloskieconieco.PizzaDetailActivity"
            android:label="@string/title_activity_pizza_detail"
            android:parentActivityName="com.hfad.wloskieconieco.MainActivity">
        </activity>
    </application>

</manifest>
